<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>
        {% block title %}{{app.name}}{% endblock %}
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="site-title">
            <span><a href="{{url_for('main.profile')}}">{{app.name}}</a></span>
        </div>
    </header>

    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        {% block footer %}{% endblock %}
        <div class="copywrite">
            <span>Copywrite &copy; {{current_year}} Social-Credit Ratings</span>
        </div>
    </footer>
</body>

</html>